<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=>
    <title>{% block title %}Sortie.com {% endblock %}</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <h1> Bonjour </h1>
            <li><a href=>Se deconnecter</a></li>
            <li><a href=>Se connecter</a></li>
            <li><a href=>S'enregistrer</a></li>
            <li><a href=>Accueil</a></li>
        </ul>
    </nav>
</header>

<main>
    {% block body %}{% endblock %}
</main>
<footer> </footer>
</body>
</html>
